body {
  background-color: #1c1d20;
}

.headings {
  color: #9932CC;
  margin-left: 40px;
} 

.texts {
  color: #A9A9A9;
  max-width: 1000px;
}

.images {
  height: 75px;
  width: 75px;
}

#main_heading {
  font-style: italic;
}

#main_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}